$--color-primary: #0091ff !default;
$--color-success: #4caf50 !default;
$--color-warning: #ff9800 !default;
$--color-danger: #f44336 !default;
$--menu-item-fill: #3a3f46 !default;
$--menu-background-color: #3a3f46 !default;
$--menu-item-hover-fill: #0091ff99 !default;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-header {
  padding: 0;
  line-height: 60px;
}

.sidebar .el-menu .el-menu-item .el-tooltip {
    padding: 0 15px !important;
}

.el-main {
  padding: 0;
}
