{/*
This is the action template.
It determines how the formatting actions are rendered.
*/}

{{define "section"}}
  <h{{len .Number}} id="TOC_{{.FormattedNumber}}">{{.FormattedNumber}} {{.Title}}</h{{len .Number}}>
  {{range .Elem}}{{elem $.Template .}}{{end}}
{{end}}

{{define "list"}}
  <ul>
  {{range .Bullet}}
    <li>{{style .}}</li>
  {{end}}
  </ul>
{{end}}

{{define "text"}}
  {{if .Pre}}
  <div class="code"><pre>{{range .Lines}}{{.}}{{end}}</pre></div>
  {{else}}
  <p>
    {{range $i, $l := .Lines}}{{if $i}}{{template "newline"}}
    {{end}}{{style $l}}{{end}}
  </p>
  {{end}}
{{end}}

{{define "code"}}
  <div {{.Style}} class="code{{if playable .}} playground{{end}}" ext="{{.Ext}}">{{.Text}}</div>
{{end}}

{{define "image"}}
<div class="image">
  <img src="{{.URL}}"{{with .Height}} height="{{.}}"{{end}}{{with .Width}} width="{{.}}"{{end}}>
</div>
{{end}}

{{define "latex"}}
<latex class="katex-display">{{.Content}}</latex>
{{end}}

{{define "graphivz"}}
<div {{.Style}}>
<graphivz {{with .Height}} height="{{.}}"{{end}}{{with .Width}} width="{{.}}"{{end}}>{{.Content}}</graphivz>
</div>
{{end}}

{{define "uml"}}
<div class="image" {{.Style}}>{{genUML .Content}}</div>
{{end}}

{{define "video"}}
<div class="video">
  <video {{with .Height}} height="{{.}}"{{end}}{{with .Width}} width="{{.}}"{{end}} controls>
    <source src="{{.URL}}" type="{{.SourceType}}">
  </video>
</div>
{{end}}

{{define "background"}}
<div class="background">
  <img src="{{.URL}}">
</div>
{{end}}

{{define "iframe"}}
<iframe src="{{.URL}}"{{with .Height}} height="{{.}}"{{end}}{{with .Width}} width="{{.}}"{{end}}
{{with .Scale}} style="transform-origin: 0 0; transform: scale({{.}})"{{end}}
></iframe>
{{end}}

{{define "link"}}<p class="link"><a href="{{.URL}}" target="_blank">{{style .Label}}</a></p>{{end}}

{{define "html"}}{{.HTML}}{{end}}

{{define "caption"}}<figcaption>{{style .Text}}</figcaption>{{end}}

{{define "agenda"}}
{{$self := .}}
<ul>
{{range $index, $s := .Lines}}
<li>
{{if eq $index $self.Current}}
<b style="color:deeppink">{{$s.Title}}</b>
{{else}}
<a href="javascript:void(0);" onclick="openSlide({{$s.Page}} + 1)">{{$s.Title}}</a>
{{end}}
</li>
{{end}}
</ul>
{{end}}

{{define "echarts"}}
<div id="echarts{{.Id}}" style="width: {{.Width}}px;height:{{.Height}}px;" class="echarts"></div>
<script type="text/javascript">
{{.Script}}
</script>
{{end}}

{{define "agenda-tool"}}
<div class="agenda">
    <button class="dropbtn">Agenda</button>
    <div class="agenda-content">
        <ul>
            <li><a href="javascript:void(0);" onclick="openSlide(0)">Home Page</a></li>
        {{range $index, $s := .Lines}}
            <li><a href="javascript:void(0);" onclick="openSlide({{$s.Page}} + 1)">{{$s.Title}}</a></li>
        {{end}}
        </ul>
    </div>
</div>
{{end}}

{{define "home-tool"}}
<a href="{{.Path}}" target="_blank" class="tool-link">Home</a>
{{end}}

{{define "gitpull-tool"}}
<a href="javascript:void(0);" id="git_pull" class="tool-link">Update</a>
{{end}}

{{define "edit-tool"}}
<a href="{{.Path}}" target="_blank" class="tool-link">Edit</a>
{{end}}

{{define "search-tool"}}
<a href="{{.Path}}" target="_blank" class="tool-link">Search</a>
{{end}}

{{define "help-tool"}}
<a href="{{.Path}}" target="_blank" class="tool-link">Help</a>
{{end}}

{{define "playground-tool"}}
<a href="{{.Path}}" target="_blank" class="tool-link">Playground</a>
{{end}}


{{define "csv"}}
<p>
<div style="overflow:auto;max-height:80%;{{.Style}}">
<table>
{{range $row := .Headers}}
    <tr>
    {{range $cell := $row}}
        <th>
            {{$cell}}
        </th>
    {{end}}
    </tr>
{{end}}
{{range $row := .Records}}
    <tr>
    {{range $cell := $row}}
        <td>
            {{$cell}}
        </td>
    {{end}}
    </tr>
{{end}}
</table>
</div>
</p>
{{end}}